<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
        @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Home", "Home", null, new {@class = "navbar-brand"})
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"></ul>
                    <div class="navbar-right">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                @if (Request.IsAuthenticated)
                                {
                                    @Html.ActionLink("Logout", "LogOff", "Account", null, new {@class = "navbar-right"})
                                }
                                else
                                {
                                    @Html.ActionLink("Login with Google", "ExternalLogin", "Account", new {extreturnUrl = Url.Action("Home", "Home")}, new {@class = "navbar-right"})
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer class="col-md-12">
                <p>&copy; @DateTime.Now.Year - Mikko Kärkkäinen</p>
            </footer>
        </div>

        <script src="~/Scripts/Vendor/jquery-1.10.2.min.js"> </script>
        <script src="~/Content/bootstrap.min.js"> </script>
        @RenderSection("ScriptToRunAtTheEnd", required: false)
    </body>
</html>